/* Contenedor del formulario */
.formulario {
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .formulario input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .formulario input:focus {
    outline: none;
    border-color: #999;
  }
  
  /* Botón para añadir tareas */
  .formulario button {
    background-color: rgb(131, 69, 160);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .formulario button:hover {
    background-color: rgb(131, 69, 160);
  }
  